<!-- Auto Page By: Prashant -->
<!-- Created On: 01/06/2016 -->
<!-- HTML for ASPNETUsers -->
@using System.Security.Claims
@{
	ViewData["Title"] = "User List:: Rolpo";
	ViewBag.Current = "Settings_User_UserList";
	string orgId = "";
	if (User.Identity.IsAuthenticated)
	{
		orgId = UserRights.GetOrgId();
	}

	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" data-ng-controller='aspnetusersController'>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
            <small>pre-alpha 1.0.0</small>
        </h1>
        <ol class="breadcrumb">
			<li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">List of User</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-rolpo alert-dismissable" id="ASPNETUsers_alert"></div>
            </div><!-- /.col -->
        </div><!-- /.row -->
        <!-- Main row -->
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <div class="box-success clearfix">
                            <a class="btn btn-sm btn-info btn-flat pull-left" href="javascript:; " data-ng-click="OpenASPNETUsersSaveDialog()">Add new User</a>
                        </div><!-- /.box-success -->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Filter</h3>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                            <div class="box-body">
                                <table class="table table-responsive table-striped">
                                    <tr>
                                        <th>First Name:</th>
                                        <td><input type="text" class="input-sm form-control" data-ng-model="tafilter.FirstName" placeholder="First Name" /></td>
                                        <th>Last Name:</th>
                                        <td><input type="text" class="input-sm form-control" data-ng-model="tafilter.LastName" placeholder="Last Name" /></td>
                                        <th>Email:</th>
                                        <td><input type="text" class="input-sm form-control" data-ng-model="tafilter.Email" placeholder="Email" /></td>
                                        <th>
                                            <button type="submit" class="btn btn-primary" data-ng-click="GetASPNETUsersByFilter()">Filter</button>
                                            <button type="submit" class="btn btn-warning" data-ng-click="ResetUserFilter()">Clear</button>
                                        </th>
                                    <tr>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box for filter-->
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th class="hidden-xs">First Name</th>
                                            <th class="hidden-xs">Last Name</th>
                                            <th class="hidden-xs">Email</th>
                                            <th>Roles</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="aspnetuserss.length > 0">
                                        <tr ng-repeat="aspnetusers in aspnetuserss">
                                            <td class="hidden-xs">{{aspnetusers.FirstName}}</td>
                                            <td class="hidden-xs">{{aspnetusers.LastName}}</td>
                                            <td class="hidden-xs">
                                                {{aspnetusers.Email}}
                                            </td>
                                            <td>
                                                <span ng-repeat="role in aspnetusers.RolesJSON">
                                                    <span class="label label-default" ng-show="role.Value">{{role.RoleGroup}} : {{role.DisplayName}}</span>
                                                </span>
                                            </td>
                                            <td>
                                                <a href="javascript:;" data-ng-click="OpenASPNETUsersUpdateDialog(aspnetusers.Id);" class="btn btn-info btn-sm" title="Edit"><i class="fa fa-edit"></i></a>
                                                <a href="javascript:;" data-ng-click="DeleteASPNETUsers(aspnetusers.Id);" class="btn btn-danger btn-sm" title="Delete"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tr data-ng-hide="aspnetuserss.length > 0">
                                        <td colspan="5" class="text-center">
                                            <p>No records found.</p>
                                        </td>
                                    </tr>
                                    <tfoot>
                                        <tr>
                                            <th class="hidden-xs">First Name</th>
                                            <th class="hidden-xs">Last Name</th>
                                            <th class="hidden-xs">Email</th>
                                            <th>Roles</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div><!-- /.row -->
                        <div class="row">
                            <div class="col-sm-2" data-ng-show="ASPNETUsersPageInfo.Has_record">
                                <ul class="pagination no-margin pull-left">
                                    <li>
                                        <select data-ng-model="tafilter.PageSize" data-ng-change="OnPageSizeChanged()">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <div>Showing <b>{{ASPNETUsersPageInfo.PageStart}}</b> to <b>{{ASPNETUsersPageInfo.PageEnd}}</b> of <b>{{ASPNETUsersPageInfo.TotalItems}}</b> entries</div>
                            </div>
                            <div class="col-sm-6" data-ng-show="ASPNETUsersPageInfo.Has_record">

                                <uib-pagination total-items="ASPNETUsersPageInfo.TotalItems" class="pagination  no-margin pull-right" ng-model="TAfilter.PageNumber" ng-change="OnPageChanged()" items-per-page="TAfilter.PageSize"></uib-pagination>
                            </div>
                        </div><!-- /.row -->

                    </div><!-- /.box-body -->
					<div class="overlay" ng-show="loading">
						<i class="fa fa-refresh fa-spin"></i>
					</div>
                </div><!-- /.box-info /.box -->
            </div>
        </div><!-- /.row  Main row ends here..-->
		
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->


<script type="text/ng-template" id="customUpdateASPNETUsers">
    @{Html.RenderPartial("~/views/shared/_aspnetusers.cshtml");}
</script>

@section css {
    <link href="~/lib/icheck/all.css" rel="stylesheet" />
    <link href="~/lib/angular-ui-select/dist/select.min.css" rel="stylesheet" />
}





@section Scripts {
    <script src="~/lib/angular-ui-select/dist/select.min.js"></script>
    <script src="~/lib/icheck/icheck.min.js"></script>
    
<script src="~/lib/angController/Account/aspnetusersController.js"></script>
}
